<div class="center hero-unit">
	<h1>Welcome to my Website</h1>

	<h2>	
	Year 4: B.ASc in EngSci
	<br>
	Entrepreneur, The Next 36
	</h2>
	<br>
	<p style ="font-size: 0.9em; text-align: left">
		I am a fourth year Engineering Science student at the University of Toronto. Right now, I'm studying in the Electrical and Computer Engineering option.
		<br><br>
		My fields of interest are software, technology, and engineering design with an emphasis on Human-Computer Interaction!
	</p>
	<a href="https://www.nextcanada.com/next-36"><img src="the-next-36-logo_1.png"></a>
	<br><br>
	<%= link_to "See more about me",	interactive_resume_path %>

</div>
