<div class="center hero-unit">
	<h1>Welcome to my Website</h1>

	<h2>	
	Year 4: B.ASc in EngSci
	</h2>
	<br><br>
	<p style ="font-size: 0.9em; text-align: left">
		I am a fourth year Engineering Science student at the University of Toronto. Right now, I'm studying in the Electrical and Computer Engineering option.
		<br><br>
		My fields of interest are software, technology, and engineering design with an emphasis on HCI and graphics!
	</p>

</div>
