<div class="center hero-unit">
	<h1>Welcome to my Website</h1>

	<h2>
	Work in Progress
	</h2>
	<br><br>
	<p style ="font-size: 0.9em; text-align: left">
		I am a third year Engineering Science student at the University of Toronto. Right now, I'm studying in the Electrical and Computer Engineering option.
		<br><br>
		My fields of interest are software, technology, and engineering design!
	</p>

</div>

