<div id="header">
    <h1 id="title">Alan Daniels</h1>
    <hr>
</div>

<button id="begin-button" class="btn btn-danger btn-large" onclick="bsod()">Begin!</button>

<img id="BSOD" src="BSOD.png"/>

<div id="one">
  <h1>Kernel-mode Driver Development Intern @ AMD</h1>
  <p>
    Fixing <b>a lot</b> of those.
  </p>
  <hr>
  <h4>Summary</h4>
  <p>
    Writing code to handle some essential GPU tasks like flipping, initialization, register programming.  
  </p>
  <h4>Highlights</h4>
  <h3>Intern of the Year Nominee</h3>
  <h3>New Feature Developer</h3>
  <ul>
    <li>Designer and lead developer of an upcoming driver feature</li>
    <li>Market analysis (<b>read:</b> forum scraping)</li>
    <li><a href="https://technet.microsoft.com/en-us/sysinternals/bb963901.aspx">Technical research</a></li>
    <li>Testing/analysis with <a href="https://msdn.microsoft.com/en-us/windows/hardware/commercialize/test/wpt/windows-performance-analyzer">Windows Performance Analyzer</a></li>
  </ul>
  <h3>Beloved Mentor</h3>
  <h3>XDMA Software Developer</h3>
  <ul>
    <li>Expertise with AMD's CrossFire&trade; Direct Memory Access (XDMA)</li>
    <li>XDMA software architecture improvements</li>
    <li>Software lead for two new XDMA features</li>
  </ul>
  <h3>WGCD Debugging Challenge Winner</h3>
  <h3>Polaris Bring-up Engineer</h3>
  <ul>
    <li>Bring-up testing and development for RX480, RX470, RX460</li>
    <li>Multi-team bug fixing</li>
    <li>Kernel-mode software lead for two Polaris projects</li>
  </ul>
  <img src="RX480.jpg"/>
  <hr>  
  <p class="quote">
    "Highly dedicated engineer with a high degree of technical excellence"
  </p>
  <p class="quote">
    "Technical abilities well beyond those expected from an intern"
  </p>
  <p class="quote">
    "Wonderful initiative and a positive attitude"
  </p>
  <h7>
    Markham, ON
  </h7>
  <br>
  <h7>
    May 2015 – Aug 2016
  </h7>
  <hr>
</div>

<div id="two">
  <h1>Hacker Academy</h1>
  <p>
    Check us out at <a href="https://www.hackeracademy.org/">hackeracademy.org</a>
  </p>
  <div class="centered-image">
    <a href="https://www.hackeracademy.org/">
      <img src="HA Schedule.png"/>
    </a>
  </div>
  <hr>
  <h4>Summary</h4>
  <p>
    We're a group of students who are passionate about tech and software. We live by the hacker culture, which is all about promoting and practicing cleverness and creativity, having an inquisitive attitude, sharing knowledge, and hands-on learning. 
  <p>
  <h4>Highlights</h4>
  <h3>Event Organizer and Attendee</h3>
  <ul>
    <li>Weekly talks</li>
    <li>Monthly programming competitions</li>
    <li>Online challenges</li>
  </ul>
  <h3>Lead Web Developer</h3>
  <ul>
    <li>Designed and implemented the club website</li>
    <li>Support for users, events, achievements</li>
    <li>Over 200 registered accounts</li>
  </ul>
  <h3>Outreach</h3>
  <ul>
    <li>Advertised events using Facebook and MailChimp</li>
    <li>Developed a <a href="https://www.hackeracademy.org/Hacker%20Academy%20Sponsorship%20Package%202015.pdf">sponsorship package</a> and contacted various companies</li>
    <li>Poster design</li>
  </ul>
  <div class="centered-image">
    <img src="General HA Poster.png"/>
  </div>
  <hr>
  <h7>
    President 
    <br>
    Sept 2014 - Present 
  </h7>
  <br>
  <br>
  <h7>
    Member  
    <br>
    Sept 2012 – May 2014
  </h7>
  <hr>
</div>

<div id="three">
  <h1>University of Toronto Engineering Design Projects</h1>
  <p> 
    Check out my <%= link_to "Projects", projects_path %> for more details.
  </p>
  <hr>
  <h4>Summary</h4>
  <p>
    Problem analysis, engineering design, prototyping.  
  </p>
  <h4>Highlights</h4>
  <h3>AER201 - Flashlight Testing Machine</h3>
  <ul>
    <li>Worked with a team of three to build a complex machine</li>
    <li>Developed knowledge of electromechanical design, circuitry, and microprocessor functionality</li>
  </ul>
  <h3>UTEK - Designing a Personal Vehicle for Extreme Conditions</h3>
  <ul>
    <li>Produced a design prototype and product pitch in a team of four</li>
  </ul>
  <h3>ESC102 - Designing a Writing Utensil for Individuals with Parkinson's Disease</h3>
  <ul>
    <li>Developed a high-fidelity conceptual design and product pitch in a team of four</li>
    <li>Completed extensive community analysis and research</li>
    <li>Performed vast amounts of prototyping and implemented testing protocol</li>
  </ul>
  <hr>
</div>

<div id="four">
  <h1>Software Projects</h1>
  <p> 
    Check out my <%= link_to "Projects", projects_path %> for more details.
  </p>
  <hr>
  <h4>Summary</h4>
  <p>
    Some things I made in my spare time.
  </p>
  <h4>Highlights</h4>
  <h3>Shoot'em Up Game</h3>
  <ul>
    <li>Developed a scrolling shoot'em up game in Java, sprites provided by <a href="https://www.bigvikinggames.com/">Big Viking Games</a></li>
    <li>Download it here (coming soon) or play it on my <%= link_to "Projects", projects_path %>  page </li>
  </ul>
  <div class="centered-image">
    <img src="BVG Screenshot.png">
  </div>
  <h3>Hacktoberfest</h3>
  <ul>
    <li>Contributed to two open source projects as part of the <a href="https://hacktoberfest.digitalocean.com/">Hacktoberfest initiative</a></li>
    <li>Updated <a href="http://asciidoctor.org/">asciidoctor</a> parser logic and documentation</li>
    <li>Uploaded solutions to projects from <a href="http://www.theodinproject.com/">The Odin Project</a></li>
  </ul>
  <h3>Windows Phone 8 Hackathon</h3>
  <ul>
    <li>Developed a game (Gomoku) app for the Windows Phone 8 in a team of three</li>
  </ul>
  <h3>This Website &#9786;</h3>
</div>