<% provide(:title, 'Projects') %>
<h1>Projects</h1>
<br>
<h2>Big Viking Scrolling Shoot'em Up</h2>
	<h3>Java Game</h3>
    <p style = "text-align: center">
    	 <a href="/BigVikingGame.jar" target="_blank">Download</a>
   	</p>
   	<p style = "text-align: center">
    	 <%= link_to image_tag("bvggametitlescreen.png", alt: "Rails"), '/BigVikingGame.' %>
   	</p>

    <p style="text-align: right">Images provided courtesy of <a href="http://www.bigvikinggames.com/">Big Viking Games. 
    </p>
    
    <p> </a>
<br>
<h2>AER201 Engineering Design</h2>
	<h3>
		Building a Flashlight Testing Machine
    <br><br>
    <p style = "font-size: 0.9em; text-align: left">

      • Worked with a team of three to build a complex machine. <br>
      • Performed extensive unassisted research, survey, and problem solving. <br>
      • Built strong group dynamics. <br>
      • Developed knowledge of electromechanical design, circuitry, and microprocessor functionality. <br>
      • Practiced professional organizational techniques such as Gantt charts and CPM. <br>
    </p>
	</h3>
<br>
<br>
<h2>ESC102 Praxis II</h2>
	<h3>
		Designing a Writing Utensil for Individuals with Parkinson's Disease
    <br><br>
    <p style = "font-size: 0.9em; text-align: left">
      • Developed a high-fidelity conceptual design and product pitch in a team of four. <br>
      • Completed extensive community analysis and research. <br>
      • Exercised development of product metrics. <br>
      • Performed vast amounts of prototyping and implemented testing protocol. <br>
      • Communicated concept through showcase presentation and Q&A. <br>
    </p>
	</h3>