<% provide(:title, 'Projects') %>
<h1>Projects</h1>
<br>
<h2>Big Viking Scrolling Shoot'em Up</h2>
	<h3>Java Game</h3>
    <p style = "font-size: 1.1em; text-align: center">
    	 <a href="/BigVikingGame.jar" target="_blank">Download</a>
   	</p>
   	<!--<p style = "text-align: center">
    	 <%= link_to image_tag("bvggametitlescreen.png", alt: "Rails"), '/BigVikingGame.' %>
   	</p>-->
    <p style = "text-align: center">
      <applet codebase="" code="bvgapplet.MainScreenApplet" width="265" height="383"></applet>
    </p>
    <p style="text-align: right">Images provided courtesy of <a href="http://www.bigvikinggames.com/">Big Viking Games. </a>
    </p>
    <p style = "font-size: 0.9em;">
      <br>
      Applet may not display in some browsers. 
      <br>
      First run may pause to load at the beginnning. 
    </p>
<br>

<h2>AER201 Engineering Design</h2>
	<h3>
		Building a Flashlight Testing Machine</h3>
    <br><br>
    <p style = "font-size: 1.2em; text-align: left">
      <a href="/Team 7 - AER201 Final Report.pdf" target="_blank">Final Report</a>
      <br>
      • Worked with a team of three to build a complex machine <br>
      • Performed extensive unassisted research, survey, and problem solving <br>
      • Built strong group dynamics <br>
      • Developed knowledge of electromechanical design, circuitry, and microprocessor functionality <br>
      • Practiced professional organizational techniques such as Gantt charts and CPM
    </p>
    <br>
    <p style = "font-size: 1.2em; text-align: center">
       <img src="/IMG_0594.JPG" style="width:512px;height:384px"><br>
       Interior of the machine
    </p>
<br>
<br>

<h2>UTEK University of Toronto Engineering Kompetition</h2>
  <h3>Designing a Personal Vehicle for Extreme Conditions</h3>
    <br><br>
    <p style = "font-size: 1.2em; text-align: left">
      • Produced a design prototype and product pitch in a team of four
    </p>
    <br>
    <p style = "font-size: 1.2em; text-align: center">
      <img src="/IMG_0554.JPG" style="width:384px;height:512px">
      &nbsp&nbsp&nbsp
      <img src="/IMG_0555.JPG" style="width:384px;height:512px">
      <br>
      The initial paper prototype
      <br><br>
      <img src="/IMG_0556.JPG" style="width:384px;height:512px">
      <br>
      Added some design features to mitigate damage from falling objects
      <br><br>
      <img src="/IMG_0557.JPG" style="width:384px;height:512px">
      &nbsp&nbsp&nbsp
      <img src="/IMG_0558.JPG" style="width:384px;height:512px">
      <br>
      The final prototype<br>
      All sides withstood the impact of a brick falling 1m. It failed once we had a team member stand on it.<br> <br>
    </p>
    <p style = "font-size: 1.2em; text-align: left">
      <u>Design Features</u><br>
      • Slanted roof redirects debris off the car, increases aerodynamic wind flow, and has aesthetic appeal <br>
      • Tetrahedral passenger encasing protects driver in cases of extreme failure<br>
      • Inner bracing combats failure from side wall shear
    </p>
<br>
<br>

<h2>ESC102 Praxis II</h2>
	<h3>
		Designing a Writing Utensil for Individuals with Parkinson's Disease</h3>
    <br><br>
    <p style = "font-size: 1.2em; text-align: left">
      • Developed a high-fidelity conceptual design and product pitch in a team of four <br>
      • Completed extensive community analysis and research <br>
      • Exercised development of product metrics <br>
      • Performed vast amounts of prototyping and implemented testing protocol <br>
      • Communicated concept through showcase presentation and Q&A <br>
    </p>
    <p style = "text-align: center">
      <img src="/IMG_0333.JPG" style="width:384px;height:512px">
      &nbsp&nbsp&nbsp
      <img src="/IMG_0330.JPG" style="width:384px;height:512px"><br>
      Some early design ideas<br><br>
      <img src="/IMG_0317.JPG" style="width:384px;height:512px">
      &nbsp&nbsp&nbsp
      <img src="/IMG_0322.JPG" style="width:384px;height:512px">
      <br><br>
      <img src="/IMG_0327.JPG" style="width:384px;height:512px"><br>
      The evolution of the finger pen design<br><br>
      <img src="/IMG_0349.JPG" style="width:384px;height:512px">
      <br>
      One of our group members, Rio, at our booth<br><br>
      <img src="/IMG_0350.JPG" style="width:384px;height:512px"><br>
      The final design, the ball grip pen
    </p>
<br><br>
<h2>CIV102 Structures and Materials - An Introduction to Engineering Design</h2> 
  <h3>Building a Beam Bridge out of MatBoard</h3>
  <br><br>
  <p stlye = "text-align: left">
    • Perform research on beam bridge designs <br>
    • Used extensive excel spreadsheet and many formulae to optimize design dimensions <br>
    • Planned and constructed MatBoard beam bridge <br>
  </p>
  <p style = "text-align: center">
    <img src="/IMG_0302.JPG" style="width:384px;height:512px"><br>
    Marking the dimensions <br><br>
    <img src="/IMG_0305.JPG" style="width:384px;height:512px"><br>
    The final product
  </p>
	