<footer class="footer">
	<small>
		<%= link_to image_tag("linkedin.png", alt: "Rails"), 'https://www.linkedin.com/profile/view?id=347881325&trk=nav_responsive_tab_profile_pic' %>
	</small>
	<nav>
		<ul>
			alan.daniels@mail.utoronto.ca
		</ui>
	</nav>
</footer>